.container {
    background-color: #5CB1BA;
    height: 60px;
    display: flex;
}

.wrapper{
    padding-left: 20%;
    display: flex;
    align-items: center;
}

.headerLogo {
    font-size: 23px;
    color: #fff;
}

.enterButton{
    margin-left: 100px;
    margin-top:5px;
    background: none;
    border: none;
    color: #fff;
}