.container {
    background-color: #5CB1BA;
    height: 60px;
    display: flex;
}

.wrapper{
    padding-left: 20%;
    display: flex;
    align-items: center;
}

.headerLogo {
    font-size: 23px;
    color: #fff;
}

.enterText{
    margin-left: 100px;
    background: none;
    border: none;
    color: #fff;
}

.logoutButton {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    position: relative;
    left: 100%;

}